<div class="custom-carousel-wrapper">
  <a href="#" class="custom-carousel-btn btn-left"></a>
  <a href="#" class="custom-carousel-btn btn-right"></a>
  <div class="custom-carousel">
    <div class="custom-carousel-inner row">

      <div class="custom-carousel-item big">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/C95858/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 2</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/C68B57/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 3</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/C4B756/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 4</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/91C456/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 5</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 6</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/55C17E/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 7</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/53BAB6/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 8</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/5487BC/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 9</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/CE5CCA/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 10</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/B55168/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 11</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/2B6033/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 12</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/150E21/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 13</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 14</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/44221D/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 15</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/1F4926/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 16</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/656AED/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 17</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/358712/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 18</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/BFB71A/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 19</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/4216A0/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 20</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/44221D/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 21</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Second Carousel -->

<div class="custom-carousel-wrapper new-carousel">
  <a href="#" class="custom-carousel-btn btn-left"></a>
  <a href="#" class="custom-carousel-btn btn-right"></a>
  <div class="custom-carousel">
    <div class="custom-carousel-inner row">

      <div class="custom-carousel-item big">
        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 1</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>
      </div>

      <div class="custom-carousel-item">
        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/C95858/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 2</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>

        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/C68B57/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 3</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>
      </div>

      <div class="custom-carousel-item">
        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/C4B756/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 4</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>

        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/91C456/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 5</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>
      </div>

      <div class="custom-carousel-item">
        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 6</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>

        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/55C17E/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 7</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>
      </div>

      <div class="custom-carousel-item">
        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/53BAB6/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 8</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>

        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/5487BC/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 9</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>
      </div>

      <div class="custom-carousel-item">
        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/CE5CCA/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 10</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>

        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/B55168/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 11</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>
      </div>

      <div class="custom-carousel-item">
        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/2B6033/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 12</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>

        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/150E21/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 13</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>
      </div>

      <div class="custom-carousel-item">
        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 14</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>

        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/44221D/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 15</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>
      </div>

      <div class="custom-carousel-item">
        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/1F4926/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 16</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>

        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/656AED/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 17</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>
      </div>

      <div class="custom-carousel-item">
        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/358712/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 18</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>

        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/BFB71A/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 19</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>
      </div>

      <div class="custom-carousel-item">
        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/4216A0/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 20</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>

        <div class="custom-carousel-item-part">
          <img src="https://api.fnkr.net/testimg/350x200/44221D/FFF/?text='">
          <div class="custom-carousel-item-caption">
            <p class="caption-text bold">Title or Name</p>
            <p class="caption-text">Season 21</p>
          </div>
          <div class="custom-carousel-item-caption-hover">
            <p class="caption-text bold row">
              <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
