<div class="custom-carousel-wrapper">
  <a href="#" class="custom-carousel-btn btn-left"><span class="icon-arrow-left"></span></a>
  <a href="#" class="custom-carousel-btn btn-right"><span class="icon-arrow-right"></span></a>
  <div class="custom-carousel">
    <div class="custom-carousel-inner row">
      <div class="custom-carousel-item big">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder">
      </div>
    </div>
  </div>
</div>
