<div class="custom-carousel-wrapper">
  <a href="#" class="custom-carousel-btn btn-left"><span class="icon-arrow-left"></span></a>
  <a href="#" class="custom-carousel-btn btn-right"><span class="icon-arrow-right"></span></a>
  <div class="custom-carousel">
    <div class="custom-carousel-inner row">
      <div class="custom-carousel-item big">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
      <div class="custom-carousel-item">
        <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text='">
        <div class="custom-carousel-item-caption">
          <p class="caption-text bold">Title or Name</p>
          <p class="caption-text">Season 1</p>
        </div>
        <div class="custom-carousel-item-caption-hover">
          <p class="caption-text bold row">
            <a href="#" class="caption-link">Info</a> | <a href="#" class="caption-link">View Trailer</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
