@import "bootstrap-sprockets";
@import "bootstrap";

// compass sprites
@import "compass/css3";
@import "compass/utilities/sprites/base";
$icons: sprite-map("icons/*.png", $icons: smart);

// carousel
.custom-carousel-wrapper {
	position: relative;
	width: 1440px;
	margin: 100px auto 0;
}
	.custom-carousel {
		overflow: hidden;
		position: relative;
		height: 288px;
	}
		.row {
			margin-left: 0;
			margin-right: 0;
		}
		.custom-carousel-inner {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
		}
		.custom-carousel-item {
			display: inline-block;
			float: left;
			margin: 10px;
			position: relative;

			img {
				width: 220px;
				height: 124px;
			}
			@include transition-property(opacity);
  			@include transition-duration(0.4s);

			&:hover, &:focus {
				opacity: 0.7;

				.custom-carousel-item-caption {
					opacity: 0;
				}
				.custom-carousel-item-caption-hover {
					opacity: 1;
				}
			}
		}
		.custom-carousel-item.big {
			img {
				width: 460px;
				height: 268px;
			}
		}
			.custom-carousel-item-caption {
				position: absolute;
				bottom: 10px;
				left: 10px;
				@include transition-property(opacity);
  				@include transition-duration(0.3s);
			}
				.caption-text {
					color: #fff;
					margin-bottom: 0;
					line-height: 1.3;
				}
				.bold {
					font-weight: bold;
				}
			.custom-carousel-item-caption-hover {
				position: absolute;
				left: 0;
				right: 0;
				top: 46%;
				text-align: center;
				opacity: 0;
				@include transition-property(opacity);
  				@include transition-duration(0.8s);
			}
				.caption-link {
					color: #fff;
					text-decoration: underline;

					&:hover, &:focus {
						color: #fff;
						text-decoration: none;
					}
				}

	.custom-carousel-btn {
		display: inline-block;
		width: 22px;
		height: 66px;
		position: absolute;
		top: 50%;
		margin-top: -33px;
	}
	.btn-left {
		left: -30px;
		/* background-image: asset-data-url("icons/arrow-left.png"); */
		background: sprite($icons, arrow-left) no-repeat;
	}
	.btn-right {
		right: -30px;
		background: sprite($icons, arrow-right) no-repeat;
	}

@media (max-width: 1519px) {
	.custom-carousel-wrapper {
		width: 1200px;
	}
}
@media (max-width: 1279px) {
	.custom-carousel-wrapper {
		width: 960px;
	}
}
@media (max-width: 991px) {
	.custom-carousel-wrapper {
		width: 720px;
	}
}
@media (max-width: 767px) {
	.custom-carousel-wrapper {
		width: 480px;
	}
}
@media (max-width: 639px) {
	.custom-carousel-wrapper {
		width: 240px;
	}
	.custom-carousel-item.big {
		display: none;
	}
}


/* second carousel */
.new-carousel {
	.custom-carousel-item {

		&:hover, &:focus {
			opacity: 1;

			.custom-carousel-item-caption {
				opacity: 1;
			}
			.custom-carousel-item-caption-hover {
				opacity: 0;
			}
		}
	}
		.custom-carousel-item-part {
			position: relative;
			@include transition-property(opacity);
		  	@include transition-duration(0.4s);

			&:hover, &:focus {
				opacity: 0.7;

				.custom-carousel-item-caption {
					opacity: 0;
				}
				.custom-carousel-item-caption-hover {
					opacity: 1;
				}
			}

		}
		.custom-carousel-item-part + .custom-carousel-item-part{
			margin-top: 20px;
		}
}

		